.invoice-detail{
  color:#333;
  margin-top: 70px;
}

.invoice-detail .invoice-body{
  background-color: #fff;
  padding:20px;
  /*border: 1px solid #f5f5f5;*/
  border-radius: 0px;
}

.invoice-detail .logo-container{
  max-width: 100%;
}

.invoice-top-nav{
  color:#333;
  /*background-color: #F39231;*/
}

.invoice-top-nav p{
  margin-bottom: 0;
  line-height: 50px;
}

.invoice-top-nav p a{
  color:#333;
}

.invoice-top-nav p a:hover{
  color:#F39231;
  text-decoration: none
}

.invoice-top-nav button{
  margin-left: 15px;
}

.invoice-top-nav button i{
  margin-right: 5px;
}

.button-orange{
  background: #F39231;
  border: none;
  color:#fff;
}

.button-orange:hover{
  background-color: #333;
  color:#fff;
}

.button-red{
  background-color: #E05A42;
  color:#fff;
  border: none;
}

.button-green{
  background-color: #91C651;
  color:#fff;
  border: none;
}

.button-green:hover{
  background-color: #333;
  color:#fff;
}

.button-white{
  background: white;
  color:#F39231;
  border: none;
}

.button-white:hover{
  background-color: #333;
  color:#ffffff;
}

.invoice-header-right h3{
  margin-top: 0;
}

.invoice-header-right p{
  margin-bottom: 3px;
}

.text-red{
  color:#E05A42;
}

.text-orange{
  color:#F39231;
}

.text-bold{
  font-weight: bold
}

.table td, .table th{
  vertical-align: middle !important;

}

.invoice-body th{
  background-color: #f5f5f5;
}

.invoice-body a{
  color:#333;
}

.background-light-gray{
  background:#f5f5f5;
}

.bg-orange-2{
  background:#F39231;
}

.navbar-secondary{
  margin-top: 50px;
}

.navbar-secondary p{
  line-height: 50px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.navbar-secondary i{
  line-height: 50px;
  font-size: 24px;
}

.badge-porte{
  background: #CC2400;
  line-height: 20px;
  min-width: 20px;
  display: inline-block;
  padding: 0;
  height: 20px;
  border-radius: 50%;
  margin-left: -5px;
  margin-top: -10px;
  font-size: 10px;
}

/*invoice print*/
@media print {
  .hidden-print{
    display: none;
  }

  .invoice-body{
    width: 100%;
  }
}